<div>
  <div id="spinner-hn" *ngIf="!feedItemFetched">
    <span>Loading Comments...</span>
  </div>
  <div id="story-item-detail-header" *ngIf="feedItemFetched">
    <h3>{{title}}</h3>
    <small *ngIf="url">
      <a [href]="url">({{url}})</a>
    </small>
    <pre [innerHTML]="text"></pre>
    <small>{{score}} points by
      <span [routerLink]="['/user', by]">{{by}}</span> | {{time}}</small>
  </div>
  <div>
    <app-story-comments *ngFor="let comment of kids; let i = index;" [level]="level" [id]="comment">
    </app-story-comments>
  </div>
</div>