<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Nestjs-mvc - Demo About</title>

    <link href="/app.css" rel="stylesheet">
</head>

<body>
    {{ message }}

    <br />
    <a href="/">Home page</a>
</body>

</html>