<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Nestjs-mvc - Demo Home</title>

    <link href="/app.css" rel="stylesheet">
</head>

<body>
    {{ message }}
    <br />
    <a href="/about">About page</a>
</body>

</html>