<div class="home-container">
    <div id="spinner-hn" *ngIf="isLoading">
      <span>Loading Stories...</span>
    </div>
    <div *ngIf="!isLoading">
        <h3 class="text-center">Hacker News Top Stories</h3>
        <table>
          <tbody>
            <tr *ngFor="let item of feed; let i =  index">
              <app-hn-story-item
                [idx]="i+1"
                [id]="item.id"
                [title]="item.title"
                [url]="item.url"
                [score]="item.score"
                [time]="item.time"
                [commentsCount]="item.kids ? item.kids.length: 0"
                [by]="item.by">
              </app-hn-story-item>
            </tr>
          </tbody>
        </table>
    </div>
</div>